body {
    margin: 0;
    padding: 0;
    background: url('fon.png') no-repeat center center;
    background-size: cover;
    background-attachment: scroll; /* Cambiado para evitar problemas en iPhone */
    min-height: 100vh;
    font-family: Arial, sans-serif;

    /* Mejoras para móviles */
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.container {
    background-color: rgba(0, 0, 0, 0.25); /* Leve ajuste a la transparencia */
    color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

/* Mejora de visualización en móviles */
@media only screen and (max-width: 768px) {
    body {
        background-position: center top;
    }

    .container {
        margin: 10px;
        padding: 15px;
        font-size: 16px;
    }
}


.cerveza-btn {
background-image: url('cer.png');
background-repeat: no-repeat;
background-position: -25px 13%;
background-size: 100px;
padding: 8px 20px 8px 50px; /* Arriba | Derecha | Abajo | Izquierda */
border: none;
border-radius: 8px;
background-color: #d2a604;
color: #000;
font-weight: bold;
cursor: pointer;
transition: all 0.3s;
}

.cerveza-btn:hover {
background-color: #ffc800;
transform: translateY(-2px);
}


.ron-btn {
background-image: url('Ron.png');
background-repeat: no-repeat;
background-position: -25px 40%;
background-size: 100px;
padding: 8px 20px 8px 50px; /* Arriba | Derecha | Abajo | Izquierda */
border: none;
border-radius: 8px;
background-color: #d2a604;
color: #000;
font-weight: bold;
cursor: pointer;
transition: all 0.3s;
}

.ron-btn:hover {
background-color: #ffc800;
transform: translateY(-2px);
}


.licores-btn {
background-image: url('buca.png');
background-repeat: no-repeat;
background-position: -4px 40%;
background-size: 55px;
padding: 8px 20px 8px 50px; /* Arriba | Derecha | Abajo | Izquierda */
border: none;
border-radius: 8px;
background-color: #d2a604;
color: #000;
font-weight: bold;
cursor: pointer;
transition: all 0.3s;
}

.licores-btn:hover {
background-color: #ffc800;
transform: translateY(-2px);
}


.aguardiente-btn {
background-image: url('guaro.png');
background-repeat: no-repeat;
background-position: -4px 40%;
background-size: 40px;
padding: 8px 20px 8px 50px; /* Arriba | Derecha | Abajo | Izquierda */
border: none;
border-radius: 8px;
background-color: #d2a604;
color: #000;
font-weight: bold;
cursor: pointer;
transition: all 0.3s;
}

.aguardiente-btn:hover {
background-color: #ffc800;
transform: translateY(-2px);
}


.bebidas-btn {
background-image: url('miche.png');
background-repeat: no-repeat;
background-position: 5px 40%;
background-size: 40px;
padding: 8px 20px 8px 50px; /* Arriba | Derecha | Abajo | Izquierda */
border: none;
border-radius: 8px;
background-color: #d2a604;
color: #000;
font-weight: bold;
cursor: pointer;
transition: all 0.3s;
}

.bebidas-btn:hover {
background-color: #ffc800;
transform: translateY(-2px);
}

